<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HereticXNA.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HereticXNA.Settings>
            <setting name="mouse_sensitivity" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="sfx_volume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="music_volume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ambient_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="use_deferred" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="postprocess_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="resolution" serializeAs="String">
                <value>1024, 768</value>
            </setting>
        </HereticXNA.Settings>
    </userSettings>
</configuration>